.info-container {
    /* position: relative; */
    /* flex-grow: 1;
    height: fit-content; */
}

@media (max-width:767px) {
    .info-container {
        display: inline-block;
        padding: 0;
    }
    #sidebar,
    #content-col {
        width: 100%;
        padding: 0;
    }
    #sidebar {
        padding-left: 10px;
        bottom: 0;
        margin: 0;
    }
}

@media (max-width:992px) {
    #sidebar,
    #content-col {
        padding: 0;
    }
    #sidebar {
        padding-left: 0px;
        bottom: 0;
        margin: 0;
    }
    .info-container {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

.content-area {
    padding: 10px;
    background: url(/assets/images/pencils.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 30px;
}

@media (max-width: 992px) {
    .content-area {
        background: url(/assets/images/pencils.jpg) no-repeat;
        background-size: cover;
    }
}

@media (max-width: 992px) {
    h1 {
        color: black;
    }
}

h1 {
    padding-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    /* color: white; */
    /* color: black; */
}

@media (max-width:767px) {
    h1 {
        padding-top: 20px;
        padding-right: 0;
    }
}

@media (max-width:768px) {
    #search-area {
        margin-top: 60px;
        padding-left: 0%;
    }
}

img {
    visibility: hidden;
}

.breadcrumb {
    background-color: white;
}


/* #search-area {
    padding-left: 40%;
} */

label {
    font-size: 18px;
    padding: 20px;
    /* color: white; */
}

@media (max-width: 992px) {
    label {
        font-size: 18px;
        padding: 0px;
    }
}

ol li a {
    text-decoration: none;
    color: red;
}

button {
    margin-top: 20px;
    width: 10%;
    padding: 5px;
    background: red;
    font-weight: bold;
}

@media (max-width:768px) {
    button {
        width: 50%;
    }
}