.search-container {
    margin-top: 10px;
    position: relative;
    padding-bottom: 60px;
}

@media (max-width:767px) {
    .search-container {
        display: inline-block;
        padding: 0;
    }
    #sidebar,
    #content-col {
        width: 100%;
        padding: 0;
    }
    #sidebar {
        padding-left: 10px;
        bottom: 0;
        margin: 0;
    }
}

@media (max-width:992px) {
    #sidebar,
    #content-col {
        padding: 0;
    }
    #sidebar {
        padding-left: 0px;
        bottom: 0;
        margin: 0;
    }
    .search-container {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

.content-area {
    padding: 10px;
    background: url(/assets/images/glassBlue.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 30px;
}

@media (max-width: 992px) {
    h1 {
        padding-top: 0px;
    }
}

h1 {
    padding-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    /* color: black; */
}

@media (max-width:767px) {
    h1 {
        padding-top: 20px;
        padding-right: 0;
        text-align: center;
        color: black;
    }
    #search-area {
        margin-top: 60px;
        padding-left: 0%;
    }
}

@media (max-width:768px) {
    #search-area {
        margin-top: 60px;
        padding-left: 0%;
    }
    h1 {
        padding-top: 0px;
    }
}

img {
    visibility: hidden;
}

table {
    visibility: hidden;
}

.breadcrumb {
    background-color: white;
}

#search-area {
    padding-left: 40%;
}

label {
    font-size: 18px;
    padding: 20px;
}

ol li a {
    text-decoration: none;
    color: red;
    cursor: pointer;
}

#search-button {
    padding-left: 35%;
}

button {
    font-weight: bold;
    padding: 5px;
}

.form-group {
    width: 50%;
}

@media (max-width:768px) {
    .form-group {
        width: 100%;
    }
}