/* c  [0, 320]
 * xs [320, 480]
 * s  [480, 768]
 * m  [768, 992]
 * l  [992, 1200]
 * xl [1200, inf]
 */

/*  NAV BAR */

.nav-container {
  width: 100%;
  height: 60px;
  clear: both;
}

.navbar {
  margin-bottom: 0;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}

.nav-item > a:hover {
  background-color: red;
  border-radius: 40%;
}

.navbar-brand {
  padding: 30;
  font-size: 32px;
  left: 0;
}

.dropdown-item {
  text-decoration: none;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

@media (max-width: 767px) {
  .nav-item > a:hover {
    background-color: black;
    border-radius: 0%;
  }
}
