<!-- IMPORTANT!!! -->
<!-- <app-header>


</app-header>
<app-navigation-bar></app-navigation-bar>
<app-landing-image></app-landing-image>
<app-footer></app-footer> -->

<!-- <app-landing-page></app-landing-page>
<app-student-page></app-student-page> -->

<!-- <app-rate-a-ta></app-rate-a-ta> -->
<!-- <app-ta-administration></app-ta-administration> -->

<!-- <app-ta-admin-sidebar></app-ta-admin-sidebar> -->
<!-- <app-ta-cohort></app-ta-cohort> -->

<!-- <app-layout></app-layout> -->

<router-outlet></router-outlet>