<app-header></app-header>
<app-navigation-bar></app-navigation-bar>

<div class="statistics-container">
    <div class="container">
        <div class="row">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">MyTa</a></li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-3" id="sidebar">
            </div>
            <div class="col-9" id="content-col">
                <div class="content-area ">
                    <div class="dynamicDiv" id="dd.0.4.1"></div>
                    <article>
                        <div class="row">
                            <div class="main-content">
                                <h1> <b>COMING SOON</b> </h1>
                                <div class="row" id="import-row">
                                    <h2><b>COMING SOON</b></h2>
                                </div>
                            </div>
                        </div>

                    </article>
                </div>

            </div>

        </div>

    </div>

</div>


<app-footer></app-footer>