#listPage.print {
    background-color: #FAF2AD;
    padding: 20px;
    font-family: arial;
}

.wishlist-container {
    margin-top: 10px;
    position: relative;
    padding-bottom: 60px;
}

@media (min-width:992px) {
    .wishlist-container {
        min-height: 65%;
    }
}

@media (max-width:767px) {
    .wishlist-container {
        display: inline-block;
        padding: 0;
    }
    #sidebar,
    #content-col {
        width: 100%;
        padding: 0;
    }
    #sidebar {
        padding-left: 10px;
        bottom: 0;
        margin: 0;
    }
}

@media (max-width:992px) {
    #sidebar,
    #content-col {
        padding: 0;
    }
    #sidebar {
        padding-left: 0px;
        bottom: 0;
        margin: 0;
    }
    .wishlist-container {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

.content-area {
    padding: 10px;
    background: url(/assets/images/blackGrey.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 30px;
}

@media (max-width: 992px) {
    .content-area {
        background: url(/assets/images/blackGrey.jpg) no-repeat;
        background-size: cover;
    }
}

h1 {
    padding-top: 30px;
    margin-bottom: 30px;
}

@media (max-width:768px) {
    h1 {
        padding-top: 0px;
        padding-right: 40%;
    }
}

#import-area {
    padding-left: 30px;
}

@media (max-width:992px) {
    #import-row {
        padding-top: 20px;
        display: block;
    }
    #import-area {
        /* padding-left: 100px; */
        margin-bottom: 20px;
    }
}

@media (max-width:767px) {
    #import-row {
        padding-top: 20px;
        display: block;
    }
    #import-area {
        /* padding-left: 100px; */
        margin-bottom: 20px;
        margin-right: 0;
    }
}

h3 {
    margin-bottom: 20px;
    background-color: red;
    width: fit-content;
    color: white;
    padding: 10px;
}

.breadcrumb {
    background-color: white;
}

ol li a {
    text-decoration: none;
    color: red;
}

.exit-button {
    display: flex;
    justify-content: center;
}