<app-header>
</app-header>
<app-navigation-bar></app-navigation-bar>

<div class="wishlist-container">
    <div class="container">
        <div class="row">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">MyTa</a></li>
                    <li class="breadcrumb-item"><a routerLink="/ta-administration">TA Management</a></li>
                    <li class="breadcrumb-item"><a>Select Course</a></li>
                    <li class="breadcrumb-item active" aria-current="page">TA Wishlist</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-3" id="sidebar">
                <app-ta-management-sidebar></app-ta-management-sidebar>
            </div>
            <div class="col-9" id="content-col">
                <div class="content-area ">
                    <div class="dynamicDiv" id="dd.0.4.1"></div>
                    <article>
                        <div class="row">
                            <div class="main-content">
                                <h1> <b>Make Your TA Wishlist</b> </h1>
                                <div class="row" id="import-row">
                                    <div id="import-area" class="col-md-7    col-sm-12">
                                        <h3> <b>Enter TA Student ID:</b> </h3>
                                        <form>
                                            <input type="number" id="student_id" name="student_id">
                                            <button type="button" id="addIt">Add to list!</button> <br><br>
                                            <input type="submit">
                                        </form>
                                        <div class="exit-button">
                                            <button type="button" routerLink="/ta-management/select-course-dashboard">exit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

            </div>

        </div>

    </div>

</div>



<app-footer></app-footer>