<div id="page-container">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 visible-sm visible-xs d-block d-md-none">
                        <div id="drop" class="dropdown show">
                            <a role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h5> <b>TA Management</b> </h5>
                            </a>
                            <ul class="dropdown-menu ">

                                <li>
                                    <a routerLink="/ta-management/select-course-dashboard" routerLinkActive="active">Select Course Dashboard</a>
                                </li>
                                <li>
                                    <a routerLink="/ta-management/ta-wish-list" routerLinkActive="active">TA Wishlist</a>
                                </li>
                                <li>
                                    <a routerLink="/ta-management/ta-perfomance-log" routerLinkActive="active">TA Performance Log</a>
                                </li>
                                <li>
                                    <a routerLink="/coming-soon" routerLinkActive="active">TA Office Hours</a>
                                </li>
                                <li>
                                    <a routerLink="/coming-soon" routerLinkActive="active">Channel</a>
                                </li>
                                <li>
                                    <a routerLink="/coming-soon" routerLinkActive="active">TA Evaluation/Workload</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container d-none d-md-block">
                <div class="row">
                    <!-- <aside class=""> -->
                    <div class="list-group" id="sidebar">
                        <h4 class="d-none d-md-block"><b>TA Administration</b> </h4>
                        <div class="sidebar-wrapper">
                            <nav>
                                <ul class="nolist  d-none d-md-block ">
                                    <li>
                                        <a routerLink="/ta-management/select-course-dashboard" routerLinkActive="active">Select Course Dashboard</a>
                                    </li>
                                    <li>
                                        <a routerLink="/ta-management/ta-wish-list" routerLinkActive="active">TA Wishlist</a>
                                    </li>
                                    <li>
                                        <a routerLink="/ta-management/ta-perfomance-log" routerLinkActive="active">TA Performance Log</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon" routerLinkActive="active">TA Office Hours</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon" routerLinkActive="active">Channel</a>
                                    </li>
                                    <li>
                                        <a routerLink="/coming-soon" routerLinkActive="active">TA Evaluation/Workload</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- </aside> -->
                </div>
            </div>

        </div>
    </div>
</div>