<div id="personal-menu">
  <div class="container">
    <!-- <div class="row"> -->
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img id="personal" src="/assets/images/personal-menu.jpg"
    /></a>
    <!-- <ul class="dropdown-menu dropdown-menu-right"> -->
    <!-- <li> -->
    <div
      class="dropdown-menu dropdown-menu-right"
      aria-labelledby="dropdownMenuButton"
    >
      <a class="dropdown-item" href="#">Full Name</a>
      <a class="dropdown-item" href="#">User Type</a>
      <a class="dropdown-item" href="#">Profile</a>
      <a class="dropdown-item" routerLink="/signout" routerLinkActive="active"
        >Logout</a
      >
    </div>

    <!-- </li> -->
    <!-- </ul> -->
    <!-- </div> -->
  </div>
</div>
<router-outlet></router-outlet>

<!-- <div id="personal-menu">
    <a> <img class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="personal" src="/assets/images/personal-menu.jpg"></a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="#">Full Name</a>
            <a class="dropdown-item" href="#">User Type</a>
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Logout</a>
        </li>
    </ul>
</div> -->
