.course-container {
    margin-top: 10px;
    position: relative;
    padding-bottom: 60px;
}

@media (max-width:767px) {
    .course-container {
        display: inline-block;
        padding: 0;
    }
    #sidebar,
    #content-col {
        width: 100%;
        padding: 0;
    }
    #sidebar {
        padding-left: 10px;
        bottom: 0;
        margin: 0;
    }
}

@media (max-width:992px) {
    #sidebar,
    #content-col {
        padding: 0;
    }
    #sidebar {
        padding-left: 0px;
        bottom: 0;
        margin: 0;
    }
    .info-container {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

.content-area {
    padding: 10px;
    background-size: cover;
    height: 100%;
    padding-bottom: 30px;
}

@media (max-width: 992px) {
    h1 {
        color: white;
    }
}

h1 {
    padding-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width:767px) {
    h1 {
        padding-top: 20px;
        padding-right: 0;
        text-align: center;
        color: black;
    }
}

@media (max-width:768px) {
    #search-area {
        margin-top: 60px;
    }
}

p {
    /* color: white; */
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
    /* color: white; */
}

@media (max-width:992px) {
    p {
        background-color: black;
        padding: 10px 0px;
        color: white;
    }
}

img {
    visibility: hidden;
}

.breadcrumb {
    background-color: white;
}

ol li a {
    text-decoration: none;
    color: red;
}