<app-header>
</app-header>
<app-navigation-bar></app-navigation-bar>

<div class="info-container">
    <div class="container">
        <div class="row">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">MyTa</a></li>
                    <li class="breadcrumb-item"><a routerLink="#">TA Administration</a></li>
                    <li class="breadcrumb-item active" aria-current="page">TA Info</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-3" id="sidebar">
                <app-ta-admin-sidebar></app-ta-admin-sidebar>
            </div>
            <div class="col-9" id="content-col">
                <div class="content-area ">
                    <div class="dynamicDiv" id="dd.0.4.1"></div>
                    <article>
                        <div class="container">
                            <div class="row">
                                <div class="main-content">
                                    <h1> <b>Lookup TA Information and History </b> </h1>
                                    <div id="search-area" class="container">
                                        <!-- <p> <b>Enter TA ID:</b> </p> -->
                                        <form>
                                            <label for="student_id"> <b>Enter TA ID:</b></label>
                                            <input class="form-control" #student_id id="student_id" type="number" placeholder="260000000" required min="9" max="9" /> <br>

                                            <button routerLinkActive="active" type="submit" routerLink="#">Lookup TA</button>
                                            <br>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>