<app-header> </app-header>
<app-navigation-bar></app-navigation-bar>

<div class="info-container">
  <div class="container">
    <div class="row">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">MyTa</a></li>
          <li class="breadcrumb-item">
            <a routerLink="/ta-administration">TA Administration</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Add TA</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-3" id="sidebar">
        <app-ta-admin-sidebar></app-ta-admin-sidebar>
      </div>
      <div class="col-9" id="content-col">
        <div class="content-area">
          <div class="container">
            <div class="row">
              <div class="main-content">
                <h1><b>Add TA to a Course</b></h1>
                <div id="search-area" class="container">
                  <form [formGroup]="form">
                    <div class="form-group row">
                      <div id="course_type " class="col-md-6 col-sm-12">
                        <label for="course_type">Enter Course Type:</label>
                        <input
                          class="form-control"
                          id="course_typeInput"
                          formControlName="course_type"
                          type="text"
                          class="form-control"
                          id="course_type"
                          placeholder="COMP"
                        />
                      </div>
                      <div id="course_num item " class="col-md-6 col-sm-12">
                        <label for="course_num">Enter Course Number:</label>
                        <input
                          class="form-control"
                          id="course_numInput"
                          formControlName="course_num"
                          type="number"
                          class="form-control"
                          id="course_num"
                          placeholder="307"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div id="TA_name " class="col-md-6 col-sm-12">
                        <label for="TA_name ">Enter TA Name:</label>
                        <input
                          class="form-control"
                          id="TA_name Input"
                          formControlName="TA_name"
                          type="text"
                          class="form-control"
                          id="TA_name "
                          placeholder="Joseph Vybihal"
                        />
                      </div>
                      <div id="student_ID item" class="col-md-6 col-sm-12">
                        <label for="student_ID">Enter TA Student ID:</label>
                        <input
                          class="form-control"
                          id="student_ID"
                          formControlName="student_ID"
                          type="number"
                          class="form-control"
                          id="student_ID"
                          placeholder="000000000"
                        />
                      </div>
                    </div>
                    <div class="form-group row">
                      <div id="term_month_year" class="col-md-6 col-sm-12">
                        <label for="term_month_year"
                          >Enter Semester/Term:</label
                        >
                        <input
                          class="form-control"
                          id="term_month_yearInput"
                          formControlName="term_month_year"
                          type="text"
                          class="form-control"
                          id="term_month_year"
                          placeholder="WINTER2022"
                        />
                      </div>
                      <div id="assigned_hours item" class="col-md-6 col-sm-12">
                        <label for="assigned_hours"
                          >Enter Assigned Hours:</label
                        >
                        <input
                          class="form-control"
                          id="assigned_hoursInput"
                          formControlName="assigned_hours"
                          type="number"
                          class="assigned_hours"
                          id="assigned_hours"
                          placeholder="00"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div>
                        <button
                          routerLinkActive="active"
                          routerLink="/ta-administration/ta-add-to-course"
                          type="submit"
                        >
                          Add TA
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
