<app-header> </app-header>
<app-navigation-bar></app-navigation-bar>

<div class="select-container">
  <div class="container">
    <div class="row">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">MyTa</a></li>
          <li class="breadcrumb-item">
            <a routerLink="/ta-management">TA Administration</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Select Course
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" id="content-col">
        <div class="content-area">
          <div class="container">
            <div class="row">
              <div class="main-content">
                <h1><b>Select a Course</b></h1>
                <div class="row">
                  <div id="search-area" class="container">
                    <form [formGroup]="form">
                      <div class="form-group row">
                        <label for="course_type">Enter Course Type:</label>
                        <input
                          class="form-control"
                          id="course_type"
                          formControlName="course_type"
                          type="text"
                          class="form-control"
                          id="course_type"
                          placeholder="COMP"
                        />
                      </div>
                      <div class="form-group row">
                        <label for="course_num">Enter Course Type:</label>
                        <input
                          class="form-control"
                          id="course_num"
                          formControlName="course_num"
                          type="number"
                          class="form-control"
                          id="course_num"
                          placeholder="307"
                        />
                      </div>
                      <div id="search-button">
                        <button
                          routerLink="/ta-management/select-course-dashboard"
                          routerLinkActive="active"
                          type="submit"
                        >
                          Select
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 image">
        <img
          style="height: 100%; width: 100%"
          src="/assets/images/colorfulShapes.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
