<div id="header-background">
    <div class="container">
        <div class="row">
            <div class="header-items">
                <a id="cs-logo" href="https://www.cs.mcgill.ca/"><img style="max-width: 100%; " src="/assets/images/McGill-CS.png"></a>
                <a id="ta-logo" href="javascript:window.location.reload(true)"><img id="myTalogo" src="/assets/images/final.png"></a>
                <app-personal-menu style="  align-self: center; margin-top: -25px;"></app-personal-menu>
            </div>


        </div>

    </div>
</div>



<!-- <ul id="logo">
    <li id="header-item1">
        <a href="https://www.cs.mcgill.ca/"><img id="cs-logo" src="/assets/images/McGill-CS.png"></a>
    </li>
    <li id="header-item2">
        <a href="/"><img id="myTalogo" src="/assets/images/final.png"></a>
    </li>
    <li id="header-item3">
        <a>
            <app-personal-menu></app-personal-menu>
        </a>
    </li>
</ul> -->