<div id="footer-container">
    <div class="container">
        <div class="row">
            <div class=" col-sm" id="item">
                <h5><b>External Links</b></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href=""><span style="color: white">COVID-19</span></a>
                    </li>
                    <li><a href=""><span style="color: white">Facilities</span></a></li>
                    <li><a href=""><span style="color: white">McGill University</span></a></li>
                    <li><a href=""><span style="color: white">COMP Courses</span></a></li>
                </ul>
            </div>
            <div class=" col-sm" id="item">
                <h5><b>Quick Links</b></h5>
                <ul class="list-unstyled">
                    <li><a href="/"><span style="color: white">Contact Us</span></a></li>
                </ul>
            </div>
            <div class=" col-sm  " id="logo">

                <img src="/assets/images/lg_mcgill.png"> <br>
                <p id="footer-copyright"> © SOCS 2022</p>
            </div>

        </div>

    </div>
</div>