#footer-container {
    /* position: absolute; */
    /* position: fixed; */
    position: relative;
    /* position: sticky; */
    bottom: 0;
    height: fit-content;
    width: 100%;
    background-color: #000;
    color: #fff;
    /* padding-left: 10%; */
    padding-top: 12px;
    padding-bottom: 10px;
    clear: both;
}

@media (max-width: 992px) {
    #footer-container {
        bottom: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    #footer-container {
        /* bottom: 1; */
        position: relative;
    }
}

#footer-copyright {
    color: #A0A0A0;
    font-size: 16px;
    padding-top: 10px;
}

h5 {
    font-size: 14.5px;
}

li a {
    text-decoration: none;
}

@media (max-width: 767px) {
    #logo {
        padding-left: 20%;
        width: 60%;
    }
    #item {
        width: 50%;
    }
}