        #content-container {
            /* width: 100%; */
            background-color: white;
            clear: both;
            position: relative;
            margin: 0;
            padding-bottom: 10%;
            bottom: 0;
        }
        
        @media (max-width: 992px) {
            #content-container {
                /* bottom: -20%; */
                padding-bottom: 0;
            }
        }
        
        @media (max-width: 767px) {
            #content-container {
                padding-bottom: 0;
            }
        }
        /* #landing-image {
        min-height: inherit;
        max-height: inherit;
        min-width: 100%;
    } */
        /* .container {
        position: relative;
    } */
        
        #image {
            min-height: calc(max(100vh, 100vw) * 0.2);
            max-height: calc(max(100vh, 100vw) * 0.2);
            background: url("/assets/images/content.png"), no-repeat;
            background-size: cover;
        }
        
        #main-area {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 320fr));
            justify-content: space-between;
            gap: 44px;
            grid-auto-flow: row;
            margin-top: 50px;
            margin-bottom: 50px;
            min-height: calc(max(100vh, 100vw) * 0.2);
            max-height: calc(max(100vh, 100vw) * 0.2);
        }
        /* @media (max-width: 992px) {
        #main-area {
            display: flex;
        }
    } */
        
        @media (max-width: 992px) {
            #main-area {
                display: flex;
                flex-flow: row nowrap;
            }
        }
        
        @media (max-width: 767px) {
            #main-area {
                display: block;
                /* flex-flow: row nowrap; */
            }
        }
        /* .row {
        height: 50%;
    } */
        /* @media (min-width: 992px) {
        #row {
            height: 50%;
        }
    } */
        
        #main-images {
            max-width: 100%;
            border-radius: 50%;
            background-color: red;
            height: 100%;
            /* background: url("/assets/images/courses.jpg"), no-repeat; */
            background-size: cover;
            display: flex;
            justify-content: center;
        }
        
        #content-image1 {
            width: 70%;
            font-size: 150px;
            height: 50%;
            align-self: center;
            /* text-align: center; */
            padding-top: 60px;
            color: white;
            font-weight: bolder;
        }
        
        @media (max-width: 992px) {
            #content-image1 {
                font-size: 80px;
                padding-top: 50px;
                width: 50%;
            }
        }
        
        #lower-text {
            margin-top: 15px;
            padding-left: 40px;
            align-items: center;
            align-self: center;
        }
        
        #lower-text a {
            /* padding-left: 40px; */
            font-size: 30px;
        }
        
        @media (max-width: 992px) {
            #lower-text {
                margin-top: 10px;
                padding-left: 0px;
                align-items: flex-start;
                align-self: flex-start;
            }
            #lower-text a {
                /* padding-left: 20px; */
                font-size: 20px;
            }
        }
        
        .myrow {
            top: 20px;
        }