<div id="content-container">
    <div class="container">
        <div class="row">
            <div id="image">
                <!-- <img id="landing-image" src="/assets/images/content.png" alt=""> -->
            </div>
        </div>
        <div class="row myrow">
            <div id="main-area">
                <!-- <div id="main-images" style="background-image: url(/assets/images/courses.jpg);">
                    <a id="content-image1">15</a>
                </div> -->
                <div class="col">
                    <div id="main-images" style="background-image: url(/assets/images/courses.jpg);">
                        <a id="content-image1">100</a>
                    </div>
                    <div id="lower-text">
                        <a> Total number of courses</a>
                    </div>
                </div>
                <div class="col">
                    <div id="main-images" style="background-image: url(/assets/images/stars.jpg);">
                        <a id="content-image1" style="color: black;">10</a>
                    </div>
                    <div id="lower-text">
                        <a> Total ratings done</a>
                    </div>
                </div>

                <div class="col">
                    <div id="main-images" style=" background-image: url(/assets/images/hands.jpg);">
                        <a id="content-image1">150</a>
                    </div>
                    <div id="lower-text">
                        <a> Total number of TAs</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- <div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->






</div>