<app-header></app-header>
<app-navigation-bar></app-navigation-bar>
<div class="course-container">
    <div class="container">
        <div class="row">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">MyTa</a></li>
                    <li class="breadcrumb-item"><a>TA Management</a></li>
                    <li class="breadcrumb-item"><a>Select Course</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Performance Log</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-3" id="sidebar">
                <app-ta-management-sidebar></app-ta-management-sidebar>
            </div>
            <div class="col-9" id="content-col">
                <div class="content-area ">
                    <div class="container">
                        <div class="row">
                            <div class="main-content">
                                <h1> <b>TA Performance Log</b> </h1>
                                <div id="search-area" class="container">
                                    <form [formGroup]="notesForm">
                                        <div formArrayName="taName">
                                            <label for="taName">Enter/Select TA Name to Add a Note:</label>
                                            <ng-select [items]="TAs" appendTo="body" formControlName="taName" placeholder="Select TA"></ng-select>
                                        </div>
                                        <div formArrayName="notes">
                                            <h3></h3>
                                            <div *ngFor="let mob of notes.controls,let i=index">
                                                <label id="notelable">Note {{i+1}} &nbsp;</label> <br>
                                                <textarea name="" id="notes" [formControlName]="i"> </textarea>
                                            </div>
                                            <button id="add" (click)="addNote()" style="margin-bottom: 30px;">Add Another Note</button>
                                        </div>
                                        <div id="submitDiv">
                                            <button id="submit" routerLink="/ta-management/select-course-dashboard" routerLinkActive="active" type="submit">Submit Log</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>